:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --bg-dark: #141414;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
